table {
    margin-top: 100px;
}



.text-center {
    text-align: center;
    margin-top: 100px;
}

/* Customisation des éléments card de Bootstrap pour ajouter un effet de survol */

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}